---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andrea & Stuart">
  <header class="p-6 grid min-h-screen place-items-center">
    <div class="text-center">
      <p class="text-7xl font-cursive">Alex Brush</p>
      <p class="text-4xl font-display">Cormorant Garamond</p>
      <p class="text-lg font-body">Nunito Sans</p>
    </div>
  </header>
</Layout>
